paper_code/watermark
*__pycache__*
*pyc
.idea
attacks/OpenAttack
runs
runs
dataset
runs copy
nohup.out
runs copy 2/
wandb/
runs copy 3
paraphrase-at-scale-english.zip
paraphrase-at-scale-english.zip.1
watermark_reliability_release/metrics/p_sp_utils/paraphrase-at-scale-english/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paraphrase-at-scale-english/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paraphrase-at-scale-english/paranmt.model
watermark_reliability_release/metrics/p_sp_utils/paraphrase-at-scale-english/paranmt.model
results/
data/
model/
watermark_reliability_release/watermarks/aiwei23/model copy/combine_model.pt
watermark_reliability_release/metrics/detect_retrieval_utils/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paranmt.model
paraphrase-at-scale-english.zip.2
watermark_reliability_release/watermarks/aiwei23/model copy/sub_net.pt
*.pt
*.jsonl
*.pkl
model/combine_model.pt
model/sub_net.pt
