paper_code/watermark
*__pycache__*
*pyc
.idea
attacks/OpenAttack
runs
runs
dataset
runs copy
nohup.out
runs copy 2/
wandb/
runs copy 3
paraphrase-at-scale-english.zip
paraphrase-at-scale-english.zip.1
watermark_reliability_release/metrics/p_sp_utils/paraphrase-at-scale-english/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paraphrase-at-scale-english/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paraphrase-at-scale-english/paranmt.model
watermark_reliability_release/metrics/p_sp_utils/paraphrase-at-scale-english/paranmt.model
results/
data/
model/
watermark_reliability_release/watermarks/aiwei23/model copy/combine_model.pt
watermark_reliability_release/metrics/detect_retrieval_utils/model.para.lc.100.pt
watermark_reliability_release/metrics/detect_retrieval_utils/paranmt.model
paraphrase-at-scale-english.zip.2
watermark_reliability_release/watermarks/aiwei23/model copy/sub_net.pt
*.pt
*.jsonl
*.pkl
model/combine_model.pt
model/sub_net.pt
watermark_reliability_release/watermarks/aiwei23/model/

result_kiyoon23.txt
aiwei_result_main.txt
watermark_reliability_release/watermarks/aiwei23/
watermark_reliability_release/watermarks/aiwei23/model/combine_model.pt
watermark_reliability_release/watermarks/aiwei23/model/sub_net.pt
result.txt
watermark_reliability_release/watermarks/aiwei23/data/train_generator_data/train_generator_data.jsonl
eva_pipe.log
*.json
*.log
*.text
*.pt
*.jsonl
watermark_reliability_release/evaluation_pipeline.py
watermark_reliability_release/generation_pipeline.py
watermark_reliability_release/utils/evaluation.py
watermark_reliability_release/utils/generation.py
watermark_reliability_release/watermarks/__init__.py
watermark_reliability_release/watermarks/aiwei23b/aiwei23b.py
watermark_reliability_release/watermarks/aiwei23b/generate_embeddings.py
watermark_reliability_release/watermarks/aiwei23b/generate_mappings.py
watermark_reliability_release/watermarks/aiwei23b/train_watermark_model.py
watermark_reliability_release/watermarks/aiwei23b/watermark_and_detect.py
watermark_reliability_release/watermarks/aiwei23b/watermark.py
watermark_reliability_release/watermarks/rohith23/levenshtein.cpython-311-x86_64-linux-gnu.so
watermark_reliability_release/watermarks/rohith23/build/lib.linux-x86_64-cpython-311/levenshtein.cpython-311-x86_64-linux-gnu.so
watermark_reliability_release/watermarks/rohith23/build/temp.linux-x86_64-cpython-311/levenshtein.o
watermark_reliability_release/watermarks/xiaoniu23/xiaoniu23.py
